.hedaer_topbar_main
{
width:auto;
height:22px;



}
.hedaer_topbar_divider
{

width:380px;
float:left;
height:32px;
}
.header_main_bar
{
width:100%;
height:122px;

}
.hedaer_main_divider
{

width:380px;
float:left;
height:32px;
}
.header_main_bar_logo
{
width:auto;



}


.slider_main_bar
{
width:100%;
height:522px;

padding-top:22px;
}
.slider_main_divider1
{

width:780px;

height:432px;
background-color:#FCF7F7;

}
.slider_main_divider2
{

width:380px;
float:left;
height:32px;
background-color:#222;
}
.slider_main_bar_logo
{
width:auto;
height:auto;

}

.sliderr_main_bar
{
width:auto;
height:122px;
background-color:#254;
}


.hedaer_nav_main
{
width:auto;
height:42px;
background-color:rgba(245, 245, 244, 0.79);

padding:2px;



}
.heder_nav_main_menu
{
bolder:12px;

border-color:#222;

}
.menu_main_bar
{
background-color:#222;


}
.form_search_submit
{

height:34px;

}

.form_search
{
width:445px;
height:34px;

}
.content_main_divider1
{
padding:22px;
width:840px;
float:left;
height:332px;

}
.content_main_divider2
{
padding:22px;

width:280px;
float:left;
height:242px;
background-color:rgba(238, 238, 238, 0.34);


}

.jumotran_content_spliter
{

width:auto;
float:left;


}

.content_main_divider3
{
padding:22px;
width:100%;

height:232px;
background-color:#fff;


}

.content_main_ablbums_divider
{
padding:2px;
width:250px;
float:left;
height:auto;


}
a:hover
{
background:inherit;
}






